<!-- registration.html -->

<!DOCTYPE html>
<html>
<head>
    <title>User Registration</title>
</head>
<body>
    <h2>New User Registration</h2>
    <form method="POST" action="{% url 'blog:register' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" name="password" required><br><br>
        <input type="submit" value="SignUp">
    </form>
</body>
</html>
